#containerCamera {
    display: flexbox;
}

.photos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.imageCamera {
    padding: 20px;
    background-color: #2b2b2b;
}

.imageCamera img {
    width: 350px;
}

.button {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
}

.button a {
    text-decoration: none;
    color: #fff;
    background-color: #2b2b2b;
    padding: 10px 150px;
    border-radius: 9999px;
}