@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* estilização geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: #191919;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

/* estilização menu principal */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #242424;
}

.greetings {
    padding: 150px;
    margin-bottom: 0px;
}

.greetings h1 {
    font-size: 48px;
}

.greetings p {
    font-size: 24px;
}

/* estilização sessão - inicio (start) */
#start, #development, #camera {
    text-align: center;
    padding: 100px;
}

/* estilização menu principal - navegador */
.container-browser {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.container-browser nav ul {
    display: flex;
    flex-direction: row;
}

.container-browser nav ul li {
    padding: 20px;
    list-style: none;
}

.container-browser nav ul li a:hover {
    color: #b8b8b8;
}

.container-browser nav ul li a,
.container-social-network nav ul li a {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration-line: none;
    transition: color 0.3s ease;
}

/* estilização menu principal - redes sociais */
.container-social-network nav ul li a svg {
    width: 20px;
    height: 20px;
}

.container-social-network {
    display: flex;
}

.container-social-network nav ul {
    display: flex;
    flex-direction: row;
}

.container-social-network nav ul li {
    list-style: none;
    padding: 10px;
}

.container-social-network .behance:hover {
    color: #0057ff;
}

.container-social-network .instagram:hover {
    color: #cc2366;
}

.container-social-network .github:hover {
    color: #575757;
}

.container-social-network .whatsapp:hover {
    color: #278d46;
}

section {
    display: none;
    /* Oculta todas as seções por padrão */
}

section.active {
    display: block;
    /* Exibe a seção ativa */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.greetings {
    margin-bottom: 20px;
}

.scroll {
    margin-bottom: 20px;
}

footer {
    padding: 10px;
    text-align: center;
}


